= render 'shared/header'
.container
  .container__inner
    .container__title 記録一覧
    .container__btn
      %button.submit-btn
        = link_to '新規登録', new_training_menu_workout_path, class: 'link'
    %table{ style: 'width: 100%;'}
      %thead
        %tr
          %th= '日時'
          %th= '評価'
          %th= 'メモ'
          %th
      %tbody
        - @workouts.each do |workout|
          %tr
            %td= workout.date
            %td= workout.quality
            %td= workout.description
            %td
              = link_to '記録', '#', class: 'submit-btn link'
              = link_to '編集', edit_training_menu_workout_path(workout), class: 'edit-btn link'
              = link_to '削除', workout, method: :delete, remote: true, data: { confirm: "記録を削除します。よろしいですか？"}, class: 'delete-btn link delete'
= render 'shared/footer'