= render 'shared/header'
.container
  .container__inner
    .container__title
      %p #{current_user.name}の種目一覧
    .container__btn
      %button.submit-btn
        = link_to '新規登録', new_training_menu_path, class: 'link'
    = search_form_for @q do |f|
      .field
        .field-label
          = f.label :title_cont, '種目'
        .field-input
          = f.text_field :title_cont, placeholder: '種目名で検索できます'
      .field
        .field-label
          = f.label :part_id_eq, '部位'
        .field-input
          = f.collection_select :part_id_eq, Part.all, :id, :name, placeholder: '部位で検索できます'
      .actions
        = f.submit "検索", class: 'submit-btn'
    %table{ style: 'width: 100%;'}
      %thead
        %tr
          %th= '種目名'
          %th= '部位'
          %th
      %tbody
        - @training_menus.each do |menu|
          %tr
            %td= menu.title
            %td= menu.part.name
            %td
              = link_to '記録', training_menu_path(menu), class: 'submit-btn link'
              = link_to '編集', edit_training_menu_path(menu), class: 'edit-btn link'
              = link_to '削除', menu, method: :delete, remote: true, data: { confirm: "トレーニング「#{menu.title}」を削除します。よろしいですか？"}, class: 'delete-btn link delete'
    .pagenate
      = paginate @training_menus
      = page_entries_info @training_menus
= render 'shared/footer'