= render 'shared/header'
.container
  .container__inner
    .container__title トレーニング一覧
    %table{ style: 'width: 100%;'}
      %thead
        %tr
          %th= '種目名'
          %th= '部位'
          %th
      %tbody
        - @training_menus.each do |menu|
          %tr
            %td= link_to menu.title, menu, class: 'link'
            %td= menu.part.name
            %td
              = link_to '編集', edit_training_menu_path(menu), class: 'submit-btn link'
              = link_to '削除', menu, method: :delete, remote: true, data: { confirm: "トレーニング「#{menu.title}」を削除します。よろしいですか？"}, class: 'delete-btn link delete'
= render 'shared/footer'