= render 'shared/header'
.container
  .container__inner
    .container__title 種目一覧
    .container__btn
      %button.submit-btn
        = link_to '新規登録', new_training_menu_path, class: 'link'
    %table{ style: 'width: 100%;'}
      %thead
        %tr
          %th= '種目名'
          %th= '部位'
          %th
      %tbody
        - @training_menus.each do |menu|
          %tr
            %td= menu.title
            %td= menu.part.name
            %td
              = link_to '記録', training_menu_path(menu), class: 'submit-btn link'
              = link_to '編集', edit_training_menu_path(menu), class: 'edit-btn link'
              = link_to '削除', menu, method: :delete, remote: true, data: { confirm: "トレーニング「#{menu.title}」を削除します。よろしいですか？"}, class: 'delete-btn link delete'
= render 'shared/footer'