#workout-page.workout-page
  .workout-page__inner.clearfix
    .workout-page__inner--left.workout-page__header
      %h2 Create Workout
      %h5 新規トレーニング種目の作成
      = link_to 'Back', :back, class: 'btn link'
      = link_to "トップページに戻る", root_path, class: 'btn link'
    .workout-page__inner--right.user-form
      = form_with model: @training_menu, local: true do |f|
        = render 'layouts/error_messages', model: f.object
        .field
          .field-label
            = f.label :title, '種目名'
          .field-input
            = f.text_field :title, autofocus: true
        .field
          .field-label
            = f.label :part_id, '部位'
          .field-input
            = f.collection_select :part_id, Part.all, :id, :name
        .actions
          = f.submit "Create workout", class: 'btn'